<launch>

	<include file="$(find file_server)/launch/ros_sharp_communication.launch">
		<arg name="port" value="9090"/>
	</include>

	<arg name="urdf_file" default="$(find file_server)/myfirstarm.urdf"/>
	<param name="robot/name" value="myfirstarm"/>
	<param name="robot_description" textfile="$(arg urdf_file)"/>

</launch>

